/.idea/.name
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/viper.iml
/.idea/workspace.xml
Data/